@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 224, 125, 154;
  --background-end-rgb: 255, 255, 255;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 252, 40, 154;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    /* background: linear-gradient(to bottom, #09203f 0%, #1a3449 60%); */
    background: linear-gradient(to bottom, #f6a0bf 50%, #ee77c2 100%);
}

/* .rootBg {
  background: linear-gradient(102.2deg, rgb(252, 40, 154) -9.9%, rgb(224, 125, 154) 34.7%, rgb(250, 165, 147) 89.1%)
} */
::-webkit-scrollbar {
  display: none;
}
